h1 {
    font-style: italic;
    background-color: rgb(175, 175, 175);
    width: fit-content
}

h2 {
    font-style: italic;
    background-color: rgb(175, 175, 175);
    width: fit-content
}

p {
    background-color: rgb(133, 172, 250);
    width: fit-content
}

a {
    background-color: rgb(199, 199, 199);
    width: fit-content
}

cite {
    background-color: rgb(199, 199, 199);
    width: fit-content
}

ol,
ul,
dl {
    background-color: rgb(133, 172, 250);
    width: fit-content
}