@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

h1 {
    font-style: italic;
    background-color: rgb(175, 175, 175);
    width: fit-content
}

h2 {
    font-style: italic;
    background-color: rgb(175, 175, 175);
    width: fit-content
}

p {
    background-color: rgb(133, 172, 250);
    width: fit-content
}

a {
    background-color: rgb(199, 199, 199);
    width: fit-content;
}

cite {
    background-color: rgb(199, 199, 199);
    width: fit-content
}

ol,
ul,
dl {
    background-color: rgb(133, 172, 250);
    width: fit-content
}

body {
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-stretch: condensed;
}

h1 {
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-size: 2rem;
}

div {
    font-size: 2rem;
}

p {
    font-size: 2rem;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:link {
    color: blue
}

a:visited {
    color: rgb(0, 0, 164)
}

a:hover {
    text-decoration: underline;
}